@using BlogMVC.Servicios
@using BlogMVC.Utilidades
@model EntradaDetalleViewModel

@{
    ViewData["Title"] = Model.Titulo;
    var fechaFormateada = Model.FechaPublicacion.ToString("dd MMM, yyyy");
    var urlRetorno = Context.ObtenerUrlRetorno();
}

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h3>@Model.Titulo</h3>
    @if (User.IsInRole(Constantes.CRUDEntradas) || User.IsInRole(Constantes.RolAdmin))
    {
        <div class="d-flex gap-2">
            <a class="btn btn-primary" asp-action="Editar" asp-route-id="@Model.Id">Editar esta entrada</a>
            <form asp-action="Borrar" style="display: inline">
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                @if (Model.EntradaBorrada)
                {
                    <button class="btn btn-secondary" asp-action="Borrar" asp-route-borrado="false">Restaurar</button>
                } else
                {
                    <button class="btn btn-danger" asp-action="Borrar" asp-route-borrado="true">Borrar</button>
                }
            </form>
        </div>
    }
</div>

<h6>@Model.EscritoPor | @fechaFormateada</h6>

@if (!string.IsNullOrEmpty(Model.PortadaUrl))
{
    <img alt="portada" src="@Model.PortadaUrl" class="img-fluid" />
}

<!-- Contenedor donde se renderiza el contenido de la entrada -->
<div id="contenido"></div>

<hr />

@if (Model.Comentarios.Any())
{
    <h2>Comentarios</h2>

    <div class="mb-4">
        @foreach (var comentario in Model.Comentarios)
        {
            <div class="mb-2 p-2" style="border-left: 1px solid gray">
                <h6>@comentario.EscritoPor</h6>
                <h6>@comentario.FechaPublicacion.ToString("dd MMM yyyy, 'a las' hh:mm tt")</h6>
                <div>@comentario.Cuerpo</div>
            </div>
            @if (comentario.MostrarBotonBorrar)
            {
                <div class="mt-2">
                    <a class="btn btn-danger" asp-action="borrar" asp-controller="comentarios" asp-route-id="@comentario.Id">Borrar comentario</a>
                </div>
            }
        }
    </div>
}

<h2>Deja un comentario</h2>
@if (User.Identity!.IsAuthenticated)
{
    <form asp-action="comentar" asp-controller="comentarios">
        <input type="hidden" asp-for="Id" />

        <div style="max-width: 600px;">
            <textarea id="cuerpo" name="cuerpo" required 
                class="form-control" style="height: 100px" placeholder="Escribe un comentario...">
            </textarea>

            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary">Enviar comentario</button>
            </div>
        </div>
    </form>
} else
{
    <p>Inicia sesion para comentar <a asp-controller="usuarios" asp-action="login" asp-route-urlRetorno="@urlRetorno">aqui</a></p>
}

<input type="hidden" id="cuerpoDelta" name="cuerpoDelta" value="@Model.Cuerpo" />

@section Scripts {
    <!-- Es "module" para poder usar import -->
    <script type="module">
        import { QuillDeltaToHtmlConverter } from "https://cdn.jsdelivr.net/npm/quill-delta-to-html/+esm";

        const deltaString = $("#cuerpoDelta").val(); // Obtener el valor del input oculto del cuerpo
        const delta = JSON.parse(deltaString);
        const converter = new QuillDeltaToHtmlConverter(delta); // Instanciar el convertidor

        const contenido = document.getElementById("contenido"); // Obtener el contenedor donde se mostrara el contenido
        contenido.innerHTML = converter.convert(); // Convertir y asignar el HTML generado al contenedor

        // Se aplica el resaltado de sintaxis a los bloques de codigo
        document.querySelectorAll('pre').forEach(elem => {
            hljs.highlightElement(elem);
        });

        // Funcion para ajustar el ancho del contenedor del contenido al ancho de la img
        function ajustarAncho() {
            const imagen = document.querySelector('img.img-fluid');
            const contenido = document.getElementById('contenido');

            if (imagen && contenido) {
                contenido.style.width = imagen.clientWidth + 'px';
            }
        }
        // Ajustar el ancho al recargar la pagina y al cambiar el tamaño de la ventana
        window.addEventListener("load", ajustarAncho);
        window.addEventListener("resize", ajustarAncho);
    </script>
}